.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    color: black;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .header-left {
    font-size: 1.5em;
    font-weight: bold;
    flex-grow: 0.06;
  }
  
  .header-right {
    display: flex;
    gap: 60px;
    flex-grow: 0.06;
  }
  
  .header-link {
    text-decoration: none;
    color: black;
    font-size: 1em;
    transition: color 0.3s;
  }
  
  .header-link:hover {
    color: gray;
  }  